*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.33%;}
.col-12{width: 100%;}

[class*='col-']{
    float: left;
    box-sizing: border-box;
}
.row:after{
    content: " ";
    clear: both;
    display: block;
}

/* HEADER CSS */
body{
    background-color: #F9F9F0;
}
.nav-bar{
    max-width: 1920px;
    margin: 40px 45px;
    clear: both;
    overflow: hidden;
}
.logo {
}
.container{
    max-width: 1400px;
}
.social-links {
    text-align: right;
}
.logo_color{
    fill: #131B31;
}
.main-menu{
    text-align: center;
}
.main-menu ul{
    list-style-type: none;
}
.main-menu ul li{
    padding: 0;
    margin: 0;
    display: inline-block;
}
.main-menu ul li a{
    padding: 5px 15px;
    color:#131B31;
    text-decoration: none;
}
.main-menu ul li a:hover,
.main-menu ul li a:active,
.main-menu ul li a:focus {
    padding: 5px 15px;
    text-decoration: none;
}
/* social-links */
.social-links ul{
    list-style-type: none;
}
.social-links ul li{
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 32px;
    overflow: hidden;
}
.social-links ul li a{
    padding: 5px 15px;
    color:#131B31;
    text-decoration: none;
}
.social-links ul li a:hover,
.social-links ul li a:active,
.social-links ul li a:focus {
    padding: 5px 15px;
    text-decoration: none;
}
.facebook,
.LinkedIn,
.instagram{
    position: relative;
}
.instagram{
    left: -10px;
}
.LinkedIn{
    right: 10px;
}
.facebook {
    right: 10px;
}
@media screen and (max-width: 600px) {
    
    [class*='col-']{
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    
}
